/*******************************************
Hi Gary! Let the hatred begin. I tried to
get everything converted to SASS but gave
up when I realized there would literally
be no time. Instead I present to you
an excess of unwieldy CSS. I apologize
in advance. You can actually see the
progression of me being complete garbage
at this to getting marginally better. If
I am lucky. Thank you, your course was
very good. My friend Clayton who had you
as an instructor also told me you were
one of his faves when he had you as an
instructor.

Anyways, good luck, please be gentle.

Joel

*******************************************/

/* * * * * * * * * * * * * * * * * * * * *
GENERAL
* * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: "texgyreadventure";
    src: url(./font/texgyreadventor-bold.otf);   
}
@font-face {
    font-family: "nicokaku";
    src: url(./font/nicokaku_v1.ttf);
}
@font-face {
    font-family: "prstartk";
    src: url(./font/prstartk.ttf);
}
@font-face {
    font-family: "corpjp";
    src: url(./font/corpjp.ttf);
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}
.debugger {
    background:red;
}
body {
    background: #f0dfb3;
}
/* ************************************
HEADER
************************************ */
header {
    background: #7b0016;
    height: 96px;
}
header ul {
    height: 100%;
    margin-bottom: 0;
    display: flex;
    font-family: 'prstartk';
    justify-content: right;
    
}
header ul li {
    list-style-type: none;
    font-family: 'prstartk';
    background-image: linear-gradient(#444, #111);
    border-radius: 60px;
    box-shadow: 0 5px black;
    padding: 0 5px;
    position: relative;
    margin: 5px;
}
header ul li a {
    height: 66px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-family: "prstartk";
    color: #f0dfb3;
    font-size: 12px;
    margin: 0;
    text-shadow: 2px 2px black;
}
header ul li:active {
    background: #222;
    box-shadow: 0 2px black;
    top: 2px;
    text-decoration: none;
}
header ul li a:hover {
    text-decoration: none;
    color: white;
}
header ul li:hover {
    bottom: 1px;
}
#hamburger {
    display: flex;
    justify-content: right;
    width: 46px;
    height: 46px;
    background-image: linear-gradient(#444, #111);
    border-radius: 60px;
    box-shadow: 0 5px black;
    border: none;
    margin: 5px;
    text-align: center;
    color: #f0dfb3;
    position: relative;
    padding-top: 8px;
}
#hamburger i {
    margin: 0px 7px;
}
#hamburger:active {
    background: #222;
    box-shadow: 0 2px black;
    top: 2px;
    text-decoration: none;
}
#hamburger:hover {
    text-decoration: none;
    color: white;
    bottom: 1px;
}
#hamburger-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 45px -40px;
    background: #7b0016;
    min-width: 200px;
    box-shadow: 0px 4px 3px 0px gray;
    z-index: 1;
}
#hamburger-content a {
    color: #f0dfb3;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-family: "prstartk";
}
.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 0px;
    background: #7b0016;
    min-width: 200px;
    box-shadow: 0px 4px 3px 0px gray;
    z-index: 1;
}
.button,
.purchase-card .button {
    width: 46px;
    height: 46px;
    background-image: linear-gradient(#444, #111);
    border-radius: 60px;
    box-shadow: 0 5px black;
    border: none;
    margin: 5px;
    text-align: center;
    color: #f0dfb3;
    position: relative;
    padding-top: 8px;
}
.button:active{
    background: #222;
    box-shadow: 0 2px black;
    top: 2px;
    text-decoration: none;
}
.button:hover{
    text-decoration: none;
    color: white;
    bottom: 1px;
}
header i {
    display: flex;
}
.logo {
    color: #f0dfb3;
    height: 100%;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    width: 100%;
    text-shadow: 2px 1px black;
    
}
.logotext {
    flex-direction: column;
    margin-bottom: 8px;
}
.logo span {
    padding-top: 10px;
}
header h2 {
    font-size: 40px;
    white-space: nowrap;
    padding-left: 2px;
    padding-top: 10px;
    font-family: "texgyreadventure";
    border-bottom: 3px solid;
    margin: 0;
    box-shadow: 0 2px 2px -2px black;
}
header h3 {
    font-size: 24px;
    white-space: nowrap;
    padding-left: 2px;
    padding-top: 10px;
    font-family: "Nico Moji";
    margin-top: -10px;
}
header .container {
    margin: 0px;
}
.navlinks {
    justify-content: right;
    font-family: 'prstartk';
}
.pulse {
    overflow:hidden !important;
}
.pulse-hero {
    background-image: url(./img/pulsetrans.png);
    background-repeat: repeat-x;
    width: 1000px;
    height: 10%;
    position: absolute;
    top: 680px;
}
.pulse-hero-middle {
    background-image: url(./img/pulse-middle-color.png);
    position: absolute;
    width: 360px;
    height: 200px;
    top: 561px;
    left: 1000px;
}
.pulse-hero-lower {
    background-image: url(./img/pulse_lower.png);
    position: absolute;
    width: 200px;
    height: 66px;
    top: 754px;
    left: 999px;
    z-index: 1050;
}
.pulse-hero-right {
    background-image: url(./img/pulsetrans.png);
    background-repeat: repeat-x;
    width: 4800px;
    height: 100%;
    position: absolute;
    left: 1360px;
    top: 680px;
}
/* *********************************
HERO
********************************* */

.hero,
.hero-about,
.hero-store {
    height: 600px;
    background: gray;
    display: flex;
}
.hero {
    background-image: linear-gradient(rgba(145, 3, 27, 0.6) 40%, rgba(21,65,196, 1.5)), url("./img/famiunsplash.jpg");
    background-position: 50%, 10%;
    background-size: cover;
}
.hero-about {
    background-image: linear-gradient(rgba(145, 3, 27, 0.6) 40%, rgba(21,65,196, 1.5)), url("./img/famicontroller.png");
    background-position: 50%, 30%;
    background-size: cover;
}
.hero-store {
    background-image: linear-gradient(rgba(145, 3, 27, 0.6) 40%, rgba(21,65,196, 1.5)), url("./img/famigames.jpg");
    background-position: 50%, 30%;
    background-size: cover;
}
.hero-content {
    margin: auto;
    width: 50%;
}
.hero h1,
.hero-about h1,
.hero-store h1 {
    font-family: 'prstartk';
    color: #f0dfb3;
    font-size: 32px;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    align-items: top;
}
.hero p,
.hero-about p,
.hero-store p {
    color: #f0dfb3;
    text-shadow: 2px 2px black;
    font-size: 18px;
    font-weight: 600;
}

/************************************
MAIN CONTENT
*********************************** */
main {
    padding: 80px 100px;
    width: 100%;
    margin: 100px 100px 10px 20px;
    display: flex;
    background: #f0dfb3;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
main h1 {
    display: flex;
    text-align: left;
    font-family: "Nico Moji";
    font-size: 48px;
    color: #7b0016;
    padding: 5px;
}
.main-text {
    display: flex;
    margin: auto;
    flex-direction: column;
    font-weight: 600;
}
.diskpic {
    height: 300px;
    width: 300px;
    transition: 0.2s;
    transform: scale(0.8);
}
.diskpic:hover {
    transform: scale(1);
}
.famipic {
    height: 400px;
    width: 400px;
    transition: 0.2s;
    transform: scale(0.8);
}
.famipic:hover {
    transform: scale(1);
}
.product-container,
.product-video {
    width: 100%;
    display: flex;
    padding: 40px 40px;
    margin: auto;
    flex-wrap: wrap;
    max-width: 900px;
    align-content: center;
    justify-content: center;
    background: #FFEDCB;
    border-radius: 3px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid rgb(177,164,132);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.39), 0 -1px 1px #f0dfb3, 0 1px 0 #f0dfb3;
}
.purchase-card {
    width: 250px;
    height: 300px;
    border: 1px solid #f0dfb3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.product-content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}
.profile {
    width: 80%;
    max-width: 900px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
    margin-top: -20px;
    padding: 10px;
}
.profile img {
    border: 3px solid #7b0016;
    margin-bottom: 20px;
}
.product-video iframe {
    padding: 0 0 20px 0;
    margin: auto;
}
.product-container-text {
    display: flex;
    margin: auto;
}
.product-container-text p {
    font-weight: 600;
}
.product-container h2,
.product-video h2 {
    padding:30px;
    font-family: "Nico Moji";
    display: flex;
    color: #7b0016;
}
.product-container p {
    padding: 10px 0;
    display: flex;
    max-width: 200px;
}
.icon {
    margin: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.iconbox {
    width: 160px;
    height: 160px;
    background: #FFEDCB;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    display: flex;
    box-shadow: 2px 2px #222;
    justify-content: center;
    align-items: center;
    border: 1px solid #222

}
main .button {
    width: 150px;
    font-family: 'prstartk';
    font-size: 14px;
    align-items: center;
    margin: auto;
}
form-content {
    width: 80%;
}
/***************************************
FOOTER CONTENT
************************************** */
footer {
    height: 270px;
    background: #7b0016;
    margin: 0 0 30px 0;
    padding: 0;
    margin: auto;
    display: flex;
}
footer li {
    list-style: none;
    margin-top: 8px;
}
footer h2 {
    color: #4d4d4d;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.footerlinks {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
.footertext {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
    color: #f0dfb3;
    padding-right: 20px;
    text-shadow: 2px 2px black;
}

/* ******************************************************************************************
MEDIA BREAK POINTS (I apologize for the length of my code, I do quite like you, not personal)
******************************************************************************************** */
@media only screen and (max-width: 900px) {
    header {
        height: 60px;
    }
    header ul li {
        display: none;
    }
    header h2 {
        font-size: 20px;
        border-bottom: 1px solid;
    }
    header h3 {
        font-size: 16px;
    }
    .hero,
    .hero-about,
    .hero-store {
        height: 650px;
    }
    main .product-container-text h2 {
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    main .diskpic {
        height: 200px;
        width: 200px;
    }
    main .famipic {
        height: 200px;
        width: 200px;
    }
    main iframe {
        height: 260px;
        width: 320px;
    }
    main {
        margin: auto;
        margin-top: 20px;
        padding: 50px 25px;
    }
}
@media only screen and (max-width: 430px) {
    main .diskpic {
        height: 100px;
        width: 100px;
    }
    main iframe {
        display: none;
    }
    main .product-video {
        display: none;
    }
}
@media only screen and (min-width: 900px) {
    header #hamburger {
        display: none
    }
}
